input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.text-display-container {
  width: 800px;
  height: 50vh;
  border: 1px solid black;
  margin: auto;
}

.text-input-container {
  margin-top: 20px;
}

.text-input {
  width: 500px;
  height: 21px;
  border-radius: 30px;
  -webkit-appearance: none;
}